@import 'src/styles/colors';
@import 'src/styles/mixins';

$savePodsModalBorderRadius: 5;

.save-pods-modal-overlay {
  @include modalOverlay;

  .save-pods-modal {

    border-radius: $savePodsModalBorderRadius * 1px;
    border: 1px outset #777;

    .save-pods-modal-header {
      @include modalHeader($savePodsModalBorderRadius);
    }

    .save-pods-modal-body {
      background-color: #FFF;
      padding: 20px;
    }

    .save-pods-modal-footer {
      @include modalFooter($savePodsModalBorderRadius);
    }
  }
}
