@import 'src/styles/colors';
@import 'src/styles/vars';

.header, .subheader, .footer {
  position: fixed;
  width: 100%;
}

.header {
  top: 0;
  height: $headerHeight * 1px;
  background-color: $headerBlue;
  display: flex;
  align-items: center;
  z-index: 1;

  img.reed-logo {
    margin: 0 20px;
    cursor: pointer;
  }

  a {
    color: #FFF;
    padding: 10px 20px;
    background-color: lighten($headerBlue, 10%);
    border-radius: 5px;
    margin: 0 10px;
    text-decoration: none;
    min-width: 110px;
    text-align: center;

    &.active {
      text-decoration: underline;
    }
  }
}

.subheader {
  top: $headerHeight * 1px;
  height: $subheaderHeight * 1px;
  background-color: $subheaderBlue;
  z-index: 1;
}

.main {
  margin-top: $headerHeight + $subheaderHeight * 1px;
  margin-bottom: $footerHeight * 1px;
  transition: margin-left 800ms;

  &.drawer-open {
    margin-left: 220px;
  }

  &.drawer-close {
    margin-left: 20px;
  }
}

.footer {
  bottom: 0;
  height: $footerHeight * 1px;
  background-color: #EEE;
  border-top: 1px solid #DDD;
  z-index: 1;
}
