<div class="header">
  <ng-container *ngIf="!appConfig.emptyHeader">
    <img routerLink="route1" class="reed-logo" ngSrc="assets/images/reed.png" height="50" width="96" [priority]="true">
    <a routerLink="route1" routerLinkActive="active">gridstack</a>
    <a routerLink="route2" routerLinkActive="active">css grid</a>
  </ng-container>
</div>
<div class="subheader">&nbsp;</div>
<div class="main" [ngClass]="drawerOpen ? 'drawer-open' : 'drawer-close'">
  <router-outlet></router-outlet>
</div>
<div class="footer">&nbsp;</div>

<ng-container *ngIf="showSavePodsModal">
  <app-save-pods-modal [type]="savePodsType" (cancel)="cancelSavePods()" (apply)="applySavePods($event)"></app-save-pods-modal>
</ng-container>
