<div class="header">
  <ng-container *ngIf="!appConfig.emptyHeader">
    <img routerLink="route1" class="reed-logo" ngSrc="assets/images/reed.png" height="50" width="96" [priority]="true">
    <a routerLink="route1" routerLinkActive="active">Gridstack</a>
    <a routerLink="route2" routerLinkActive="active">CSS Grid</a>
    <a routerLink="route3" routerLinkActive="active">Graphs</a>
    <a routerLink="route4" routerLinkActive="active">Maps</a>
  </ng-container>
</div>
<div class="subheader">&nbsp;</div>
<div class="main" [ngClass]="drawerOpen ? 'drawer-open' : 'drawer-close'">
  <router-outlet></router-outlet>
</div>
<div class="footer">&nbsp;</div>

<ng-container *ngIf="showSavePodsModal">
  <app-save-pods-modal [type]="savePodsType" (cancel)="cancelSavePods()" (apply)="applySavePods($event)"></app-save-pods-modal>
</ng-container>

<ng-container *ngIf="showCreatePodModal">
  <app-create-pod-modal (cancel)="cancelCreatePod()" (create)="applyCreatePod($event)"></app-create-pod-modal>
</ng-container>
