<div class="drawer" [ngClass]="open ? 'open' : 'close'">
  <button class="btn-toggle" (click)="toggle()">
    <span class="material-icons">chevron_right</span>
  </button>
  <div class="contents">
    <p-dropdown placeholder="Add Pod" optionLabel="text" filterBy="text" styleClass="add-pod-dropdown" panelStyleClass="add-pod-dropdown-panel"
                scrollHeight="300px"
                [options]="inactivePods" [filter]="true" [disabled]="!willItFit" [resetFilterOnHide]="true"
                [ngModel]="inactivePod" (ngModelChange)="activatePod($event)"></p-dropdown>

    <hr>
    <app-saved-pod-configs></app-saved-pod-configs>
  </div>
</div>
