@import 'src/styles/add-pod-dropdown';
@import 'src/styles/bs-switch';
@import 'src/styles/gridstack';
@import 'src/styles/routes';
@import 'src/styles/save-button';
@import 'src/styles/thin-scrollbar';

body {
  margin: 0;
  overflow-y: scroll;
  // font-family: "Lucida Console", sans-serif;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: sans-serif;
  color: #333;
  user-select: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
